@model IEnumerable<VideoCard>

@{
    ViewData["Title"] = "VideoCard List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="VideoCard" class="btn btn-primary mb-3">Create VideoCard</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active text-center">
                <th>
                    <i class="@ViewData["IconId"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.IdSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Id)
                    </a>
                </th>
                <th>
                    <i class="@ViewData["IconName"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.NameSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeriesName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoMemory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClockFrequency)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th> *@
                <th>
                    <i class="@ViewData["IconPrice"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.PriceSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Price)
                    </a>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var videoCard in Model)
                {
                    <tr class="text-center">
                        <td>@videoCard.Id</td>
                        <td>@videoCard.Name</td>
                        <td>@videoCard.SeriesName</td>
                        <td>@videoCard.VideoMemory</td>
                        <td>@videoCard.ClockFrequency</td>
                        @* <td>@videoCard.Image</td> *@
                        <td>@videoCard.Price</td>
                        <td>
                            <div>
                                <a asp-controller="VideoCard" asp-action="Update" asp-route-id="@videoCard.Id" class="btn btn-success btn-sm">Edit</a>
                                <a asp-controller="VideoCard" asp-action="Delete" asp-route-id="@videoCard.Id" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div>No VideoCard avaialble at this moment! </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>