@model IEnumerable<Unit>

@{
    ViewData["Title"] = "Unit List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="Unit" class="btn btn-primary mb-3">Create Unit</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active text-center">
                <th>
                    <i class="@ViewData["IconId"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.IdSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Id)
                    </a>
                </th>
                <th>
                    <i class="@ViewData["IconName"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.NameSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormFactorMotherBoard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Width)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th> *@
                <th>
                    <i class="@ViewData["IconPrice"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.PriceSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Price)
                    </a>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var unit in Model)
                {
                    <tr class="text-center">
                        <td>@unit.Id</td>
                        <td>@unit.Name</td>
                        <td>@unit.FormFactorMotherBoard</td>
                        <td>@unit.Height</td>
                        <td>@unit.Length</td>
                        <td>@unit.Width</td>
                        @* <td>@unit.Image</td> *@
                        <td>@unit.Price</td>
                        <td>
                            <div>
                                <a asp-controller="Unit" asp-action="Update" asp-route-id="@unit.Id" class="btn btn-success btn-sm">Edit</a>
                                <a asp-controller="Unit" asp-action="Delete" asp-route-id="@unit.Id" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div>No Unit avaialble at this moment! </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>