@model IEnumerable<Ram>

@{
    ViewData["Title"] = "Ram List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="Ram" class="btn btn-primary mb-3">Create Ram</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active text-center">
                <th>
                    <i class="@ViewData["IconId"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.IdSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Id)
                    </a>
                </th>
                <th>
                    <i class="@ViewData["IconName"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.NameSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeMemory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperatingFrequency)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th> *@
                <th>
                    <i class="@ViewData["IconPrice"]"></i>
                    <a asp-action="Index" asp-route-sortState="@ViewBag.PriceSort" class="text-decoration-none  text-dark">
                        @Html.DisplayNameFor(model => model.Price)
                    </a>
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var ram in Model)
                {
                    <tr class="text-center">
                        <td>@ram.Id</td>
                        <td>@ram.Name</td>
                        <td>@ram.Size</td>
                        <td>@ram.TypeMemory</td>
                        <td>@ram.OperatingFrequency</td>
                        @* <td>@ram.Image</td> *@
                        <td>@ram.Price</td>
                        <td>
                            <div>
                                <a asp-controller="Ram" asp-action="Update" asp-route-id="@ram.Id" class="btn btn-success btn-sm">Edit</a>
                                <a asp-controller="Ram" asp-action="Delete" asp-route-id="@ram.Id" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div>No Ram avaialble at this moment! </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>